<div class="modal fade" id="delete_task{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalTask" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalLabel">Suppression de la tâche</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="text-dark p-3">
          <h3>Confirmez la suppression de la tâche.</h3>
          <h5>{{ task.tasklist.name|capitalize }}</h5>
          <p>{{ task.name|capitalize }}</p>
        </div>
        


        <div class="modal-footer">
          <a href="{{ path('task_delete', {id: task.id}) }}" type="button" class="btn btn-danger">Confirmer</a>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>