<div class="modal fade" id="task" tabindex="-1" role="dialog" aria-labelledby="mainModalTask" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalLabel">Mise à jour Tâche</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        {# Afifichage des messages d'erreurs du formulaire #}
        <div class="alert_modal_container">
          <div class="alert alert-danger p-1 m-0" role="alert" id="error_message_form" style="display: none;">
          </div>
        </div>

        {# Affichage du formulaire des tâches (création ou édition) #}
        <div class="modal-body text-dark" id="content_task_form">
            {# Affichage dynamique du formulaire en JS #}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>